name: Test

on: [pull_request]

jobs:
  test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Generate coverage report
      run: |
        swift test --enable-code-coverage
        xcrun llvm-cov export -format="lcov" .build/debug/SwiftQuestsPackageTests.xctest/Contents/MacOS/SwiftQuestsPackageTests -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Codecov
      uses: codecov/codecov-action@v1.0.5
      with:
        token: 44439f4d-d012-4000-a0c1-28647d07b545
        xcode_derived_data: build
        functionalities: html
        xcode_package: SwiftQuests
